@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: rgb(33, 33, 33);
  position: relative;
}

.player {
  height: 100%;
  width: 49%;
}

.one {
  background: linear-gradient(rgb(115, 219, 239), rgb(48, 121, 224));
  border-right: 10px solid white;
}

.two {
  background: linear-gradient(rgb(221, 84, 84), rgb(127, 37, 37));
  border-left: 10px solid white;
}

.player h1 {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  color: rgb(247, 247, 247);
  font-size: 1.7rem;
}

.one h1 {
  background: rgba(65, 118, 193, 0.687);
}

.two h1 {
  background: rgba(159, 53, 53, 0.594);
}

.player .choice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  height: 60%;
  padding-top: 80px;
}

.player .choice img {
  width: 40%;
}

.player .choice .img-rock {
  width: 35%;
}

.ready-element {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ready-element h2 {
  font-size: 3rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.choice-buttons, .replay-button {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 30px auto 0 auto;
}

.choice-buttons button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.choice-buttons button:hover {
  transform: scale(1.3);
}

.choice-buttons button img {
  width: 70%;
}

.hidden {
  display: none !important;
}

.enemy-opening-text {
  /* opacity: 0.4; */
  animation: openingTextAnim 3.5s linear infinite;
}

.opening {
  padding-top: 130px !important;
  height: 50% !important;
  padding-bottom: 40px;
}

.opening h2 {
  font-size: 3rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.score-board {
  position: absolute;
  top: 10px;
  left: 39%;
  width: 23%;
}

.score-board .game-result {
  width: 70%;
  background: rgb(44, 14, 30);
  border-top: 4px solid rgb(249, 249, 249);
  border-left: 4px solid rgb(249, 249, 249);
  border-right: 4px solid rgb(249, 249, 249);
  text-align: center;
  padding: 8px 0;
  color: rgb(249, 249, 249);
  font-size: 1.5rem;
  margin: 0 auto;
  border-radius: 100px 100px 0 0;
}

.score-board .score {
  width: 100%;
  height: 150px;
  background: rgb(81, 53, 33);
  border: 4px solid rgb(249, 249, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(249, 249, 249);
  font-size: 3rem;
  border-radius: 5px;
}

.score-board .score span:nth-child(2) {
  margin: 0 10px;
}

.replay-button button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.replay-button button:hover {
  transform: scale(1.3);
}

.replay-button button img {
  width: 70%;
  animation: replayIconRotation 2s linear reverse infinite;
}

@keyframes openingTextAnim {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes replayIconRotation {
  100% {
    transform: rotate(360deg);
  }
}
